a {
    color: rgb(255, 0, 0);
}

.nice-version {
    background: url('imgs/E6P6N.gif') ;
    background-size: auto;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nice-version .content {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
}

.evil-version {
    background: url('imgs/E6P6E.gif') ;
    background-size: cover;
    height: 100vh;
    display: none; 
    justify-content: center;
    align-items: center;
}

.evil-version .content {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

@media screen and (max-width: 850px) {
    .nice-version {
        display: none; 
    }

    .evil-version {
        display: flex; 
    }
}
